@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin-right: 25%; margin-left: 25%;">
    <h2>Matching Game Rules</h2>
    <p>Two players are presented with a 10x10 table of cards. 
        The first player goes and turns over two cards. If they are a match then they get to keep it and go again, 
        otherwise it gets turned back over. The player with the most points when there is no more matches wins.</p>
    <img src="/images/matchinggame.png" alt="matching game" class="display-flex"/>
</div>